@charset "utf-8";

body {
  background:rgb(48, 26, 130);
}

.content {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 23%;
  background: #fff;
  padding: 30px 40px 20px;
}

table {
  margin: 0 auto;
}

.content_title {
  width: 718px;
  margin: 0 auto 10px;
  text-align: left;
  font-size: 25px;
}

.wrapper {
  padding: 10px 0;
}

/* ボタン関連 */
.create_btn {
  border: solid rgba(190, 10, 235, 0.707) 2px;
  color:rgb(190, 10, 235, 0.707);
}

.create_btn:hover {
  background:rgba(190, 10, 235, 0.707);
  color: #fff;
  transition: 0.5s;
}

.update_btn {
  border: solid rgba(255, 168, 5, 0.864) 2px;
  color:rgba(255, 168, 5, 0.864);
}

.update_btn:hover {
  background:rgba(255, 168, 5, 0.864);
  color: #fff;
  transition: 0.5s;
}
.delete_btn {
  border: solid rgba(0, 238, 255, 0.823) 2px;
  color:rgba(0, 238, 255, 0.823);
}

.delete_btn:hover {
  background:rgba(5, 164, 175, 0.823);
  color: #fff;
  transition: 0.5s;
}

.btn {
  padding: 5px 15px;
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}


/* テーブル関連 */

thead {
  line-height: 70px;
}

.table_big {
  width: 250px;
}

.table_min {
  width: 100px;
  text-align: center;
}
.table_thead-min {
  width: 50px;
}
.table_big-text {
  width: 250px;
  padding: 5px 0;
  border: solid #ccc 1px;
  border-radius: 5px;
}


.main_form-text {
  width: 600px;
  padding: 8px 0;
  margin-right: 40px;
  border: solid #ccc 1px;
  border-radius: 5px;
}
